### WARMUP SECTION:

In [1]:
'''
    LESSER OF TWO EVENS:
    Write a function that returns the lesser of two given numbers if both numbers are even, 
    but returns the greater if one or both numbers are odd
'''
def lesser_of_two_evens(n1, n2):
    if n1%2==0 and n2%2==0:
        return min(n1,n2)
    else:
        return max(n1,n2)

In [9]:
# Check
lesser_of_two_evens(2,4)

2

In [10]:
# Check
lesser_of_two_evens(2,5)

5

In [11]:
'''
    ANIMAL CRACKERS: 
    Write a function takes a two-word string and returns True 
    if both words begin with same letter
'''
def animal_crackers(text):
    words = text.split()
    if words[0][0].lower() == words[1][0].lower():
        return True
    return False

In [12]:
# Check
animal_crackers('Levelheaded Llama')

True

In [13]:
# Check
animal_crackers('Crazy Kangaroo')

False

In [19]:
'''
    MAKES TWENTY:
    Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

'''
'''
def makes_twenty(n1,n2):
    return (n1+n2)==20 or n1==20 or n2==20
'''
def makes_twenty(n1,n2):
    if sum([n1,n2])==20:
        return True
    if n1==20 or n2==20:
        return True
    return False

In [20]:
# Check
makes_twenty(20,10)

True

In [21]:
# Check
makes_twenty(2,3)

False

In [22]:
# Check
makes_twenty(12,8)

True

### LEVEL 1 PROBLEMS

In [36]:
'''
OLD MACDONALD:
Write a function that capitalizes the first and fourth letters of a name

'''

'''
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short!'
'''
def old_macdonald(name):
    name = name.capitalize()
    return name[:3] + name[3].upper() + name[4:]

In [37]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [41]:
'''
MASTER YODA:
Given a sentence, return a sentence with the words reversed

'''
def master_yoda(sentence):
    words = sentence.split()
    return ' '.join(words[::-1])

In [42]:
# Check
master_yoda('I am home')

'home am I'

In [43]:
# Check
master_yoda('We are ready')

'ready are We'

In [47]:
'''
ALMOST THERE:
Given an integer n, return True if n is within 10 of either 100 or 200
'''
'''
def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))
'''
def almost_there(n):
    if (90 <= n and 110 >= n) or (190 <= n and 210 >= n):
        return True
    return False

In [48]:
almost_there(90)

True

In [49]:
almost_there(104)

True

In [50]:
almost_there(150)

False

In [51]:
almost_there(209)

True

### LEVEL 2 PROBLEMS

In [63]:
'''
FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → False
has_33([3, 1, 3]) → False
'''

'''
def has_33(nums):
    for i in range(0, len(nums)-1):
      
        # nicer looking alternative in commented code
        #if nums[i] == 3 and nums[i+1] == 3:
    
        if nums[i:i+2] == [3,3]:
            return True  
    
    return False
'''
def has_33(nums):
    size = len(nums)
    if size < 2:
        return False
    for i, num in enumerate(nums):
        if i!=size-1 and num==3 and nums[i+1]==3:
            return True
    return False

In [64]:
has_33([1, 3, 3])

True

In [65]:
has_33([1, 3, 1, 3])

False

In [66]:
has_33([3, 1, 3])

False

In [69]:
'''
PAPER DOLL:
Given a string, return a string where for every character in the original there are three characters

'''
def paper_doll(text):
    return ''.join([letter*3 for letter in text])

In [70]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [71]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [130]:
'''
BLACKJACK: 
Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
'''
def blackjack(a,b,c):
    s = sum((a,b,c))
    if s <= 21:
        return s
    elif 11 in (a,b,c):
        return s-10
    else:
        return 'BUST'

In [131]:
# Check
blackjack(5,6,7)

18

In [132]:
# Check
blackjack(9,9,9)

'BUST'

In [133]:
# Check
blackjack(9,9,11)

19

In [89]:
'''
SUMMER OF '69: 
Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers
'''
def summer_69(arr):
    s = 0;
    ignore = False
    for num in arr:
        if num == 6:
            ignore = not ignore
        if not ignore:
            s += num
        if num == 9:
            ignore = not ignore
    return s

In [90]:
# Check
summer_69([1, 3, 5])

9

In [91]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [92]:
# Check
summer_69([2, 1, 6, 9, 11])

14

### CHALLENGING PROBLEMS

In [109]:
'''
SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
 spy_game([1,2,4,0,0,7,5]) --> True
 spy_game([1,0,2,4,0,5,7]) --> True
 spy_game([1,7,2,0,4,5,0]) --> False
'''
'''
def spy_game(nums):

    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
       
    return len(code) == 1
'''
def spy_game(nums):
    s = ''.join([str(num) for num in nums if num==0 or num ==7])
    if s.find('007')==-1:
        return False
    return True

In [110]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [112]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [113]:
# Check
spy_game([1,7,2,0,4,5,0])

False

In [154]:
'''
COUNT PRIMES:
Write a function that returns the number of prime numbers that exist up to and including a given number
'''
def count_primes(num):
    count = 0
    for n in range(2,num):
        for s in range(2,n-1):
            if n%s==0:
                pass
        
    return count

In [155]:
count_primes(100)

0

In [157]:
def count_primes(num):
    primes = [2]
    x = 3
    if num < 2:  # for the case of num = 0 or 1
        return 0
    while x <= num:
        for y in range(3,x,2):  # test all odd factors up to x-1
            if x%y == 0:
                x += 2
                print('if:'+str(x))
                break
        else:
            print('else:'+ str(x))
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)